---

---

<footer>
  <div class="content">
    <a href="mailto:bjouin@icloud.com">bjouin[at]icloud.com</a>
    <div class="links">
      <a
        href="https://github.com/baptistejouin"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Github"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="37"
          height="37"
          viewBox="0 0 37 37"
          fill="none"
        >
          <path
            d="M9.326 28.4795C8.876 28.1795 8.48901 27.7955 8.03601 27.2555C7.80088 26.9677 7.56788 26.6782 7.33701 26.387C6.64251 25.5245 6.20451 25.1255 5.75301 24.962C5.56303 24.8991 5.38756 24.7989 5.23692 24.6671C5.08628 24.5354 4.96352 24.3749 4.87586 24.195C4.78821 24.0151 4.73744 23.8195 4.72653 23.6197C4.71563 23.4199 4.74481 23.2199 4.81237 23.0315C4.87993 22.8432 4.98449 22.6702 5.1199 22.5229C5.25531 22.3756 5.41884 22.2568 5.60084 22.1737C5.78284 22.0905 5.97965 22.0446 6.17967 22.0386C6.37969 22.0327 6.57888 22.0668 6.7655 22.139C7.8935 22.544 8.65701 23.2415 9.686 24.521C9.54501 24.3455 10.196 25.1615 10.3355 25.3295C10.6205 25.67 10.8305 25.877 10.9955 25.9865C11.3015 26.192 11.8775 26.2805 12.7205 26.1965C12.7565 25.6235 12.8615 25.067 13.0235 24.5525C8.57151 23.465 6.0515 20.5925 6.0515 14.9585C6.0515 13.1015 6.6065 11.426 7.6385 10.022C7.3115 8.68098 7.361 7.05948 8.0915 5.23398C8.17422 5.02721 8.30195 4.84144 8.4654 4.69018C8.62886 4.53892 8.82395 4.42595 9.0365 4.35948C9.158 4.32348 9.22701 4.30848 9.34851 4.28898C10.553 4.10448 12.254 4.54398 14.471 5.93448C15.7922 5.62561 17.1447 5.47058 18.5015 5.47248C19.8695 5.47248 21.23 5.62698 22.5275 5.93448C24.743 4.53498 26.4485 4.09398 27.6605 4.28898C27.788 4.30998 27.8975 4.33698 27.9875 4.36548C28.1957 4.43415 28.3864 4.54763 28.546 4.69795C28.7057 4.84826 28.8304 5.03174 28.9115 5.23548C29.642 7.05798 29.6915 8.67948 29.3645 10.0205C30.401 11.4245 30.9515 13.088 30.9515 14.9585C30.9515 20.5955 28.4405 23.4575 23.9885 24.548C24.176 25.1705 24.2735 25.865 24.2735 26.618C24.2735 27.614 24.2705 28.5665 24.263 29.633C24.263 29.918 24.26 30.224 24.2555 30.692C24.5916 30.766 24.892 30.9533 25.1064 31.2226C25.3208 31.4918 25.436 31.8265 25.4329 32.1707C25.4297 32.5148 25.3083 32.8474 25.089 33.1127C24.8697 33.3779 24.5659 33.5597 24.2285 33.6275C22.5185 33.9695 21.2525 32.8295 21.2525 31.3415L21.2555 30.671L21.263 29.6135C21.2705 28.553 21.275 27.6065 21.275 26.618C21.275 25.5725 20.999 24.89 20.636 24.5765C19.6445 23.7215 20.147 22.0955 21.4475 21.95C25.8965 21.449 27.9515 19.7255 27.9515 14.96C27.9515 13.5275 27.4835 12.3425 26.582 11.3525C26.3926 11.1443 26.2656 10.8871 26.2155 10.6102C26.1653 10.3333 26.1941 10.0478 26.2985 9.78648C26.5475 9.16398 26.6525 8.35098 26.441 7.36548L26.426 7.36848C25.6895 7.57848 24.761 8.02848 23.639 8.79348C23.4581 8.91626 23.2525 8.99801 23.0367 9.03299C22.8208 9.06797 22.5999 9.05534 22.3895 8.99598C21.1234 8.64491 19.8154 8.46828 18.5015 8.47098C17.1665 8.47098 15.8435 8.65098 14.6135 8.99598C14.4042 9.05485 14.1845 9.06751 13.9698 9.03306C13.7551 8.99861 13.5504 8.91789 13.37 8.79648C12.2405 8.03598 11.309 7.58598 10.565 7.37598C10.3505 8.35548 10.457 9.16698 10.7045 9.78648C10.8089 10.0478 10.8377 10.3333 10.7876 10.6102C10.7374 10.8871 10.6104 11.1443 10.421 11.3525C9.5255 12.3365 9.05151 13.541 9.05151 14.9585C9.05151 19.7165 11.108 21.4535 15.5345 21.9485C16.832 22.0955 17.3375 23.7155 16.352 24.572C16.0625 24.8225 15.707 25.67 15.707 26.618V31.3415C15.707 32.8205 14.456 33.9305 12.767 33.635C12.4238 33.5756 12.112 33.3988 11.885 33.1346C11.658 32.8705 11.53 32.5357 11.5229 32.1875C11.5158 31.8393 11.6301 31.4995 11.8461 31.2263C12.0622 30.9532 12.3665 30.7637 12.707 30.6905V29.2055C11.342 29.2985 10.2155 29.075 9.326 28.4795Z"
          ></path>
        </svg>
      </a>
    </div>
  </div>
</footer>

<style lang="scss">
  @use "../lib/scss/variables" as v;
  @use "../lib/scss/mixins" as m;

  footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5.5rem 0 2.5rem 0;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  a {
    font-size: 2.5rem;
    font-family: v.$ff-jetbrains;

    @include m.before(lg) {
      font-size: 2rem;
    }

    @include m.before(sm) {
      font-size: 1.25rem;
    }
  }

  svg {
    fill: var(--accent-400);

    @include m.before(lg) {
      width: 2.3rem;
      height: 2.5rem;
    }
  }

  .links {
    display: flex;
    gap: 2rem;
  }
</style>
