---

---

<footer>
  <div class="content">
    <a href="mailto:bjouin@icloud.com">bjouin[at]icloud.com</a>
    <div class="links">
      <a href="https://www.linkedin.com/in/baptistejouin/">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="37"
          height="37"
          viewBox="0 0 37 37"
          fill="none"
        >
          <path
            d="M10.91 7.99997C10.9096 8.79562 10.5932 9.55853 10.0303 10.1209C9.46737 10.6832 8.70415 10.9989 7.9085 10.9985C7.11285 10.9981 6.34995 10.6816 5.78762 10.1187C5.22529 9.55584 4.90961 8.79262 4.91 7.99697C4.9104 7.20133 5.22685 6.43842 5.78974 5.87609C6.35263 5.31377 7.11585 4.99808 7.9115 4.99847C8.70715 4.99887 9.47006 5.31532 10.0324 5.87821C10.5947 6.44111 10.9104 7.20432 10.91 7.99997ZM11 13.22H5V32H11V13.22ZM20.48 13.22H14.51V32H20.42V22.145C20.42 16.655 27.575 16.145 27.575 22.145V32H33.5V20.105C33.5 10.85 22.91 11.195 20.42 15.74L20.48 13.22Z"
          ></path>
        </svg>
      </a>
      <a href="https://www.are.na/baptiste-jouin-gyaw4astcza">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="48"
          height="29"
          viewBox="0 0 48 29"
          fill="none"
        >
          <g clip-path="url(#clip0_1_45)">
            <path
              d="M47.0471 20.1207L40.5315 14.9654C40.1327 14.6507 40.1327 14.1341 40.5315 13.8185L47.0474 8.66439C47.4474 8.3491 47.6146 7.81639 47.4193 7.48128C47.2236 7.14711 46.6773 7.02817 46.2066 7.21697L38.4587 10.3239C37.9877 10.5146 37.5439 10.2547 37.4733 9.74806L36.3081 1.42068C36.2362 0.914402 35.8581 0.5 35.4665 0.5C35.0767 0.5 34.6989 0.914402 34.6288 1.42037L33.4631 9.74838C33.3918 10.255 32.9486 10.5142 32.477 10.3242L24.8572 7.26888C24.3847 7.07946 23.6149 7.07946 23.1436 7.26888L15.5226 10.3242C15.0512 10.5142 14.6074 10.255 14.5368 9.74838L13.3726 1.42037C13.3007 0.914402 12.9231 0.5 12.5331 0.5C12.1418 0.5 11.7633 0.914402 11.693 1.42037L10.5272 9.74838C10.4566 10.255 10.0131 10.5142 9.54176 10.3242L1.79417 7.21791C1.32317 7.02817 0.777785 7.14774 0.582134 7.48159C0.386795 7.81702 0.55338 8.35004 0.952183 8.6647L7.46867 13.8188C7.86779 14.1344 7.86779 14.651 7.46867 14.966L0.952183 20.1207C0.55213 20.436 0.386483 21.0005 0.581509 21.3743C0.777472 21.7487 1.32286 21.8991 1.79323 21.7091L9.47144 18.6047C9.94338 18.415 10.3822 18.6733 10.4481 19.1799L11.5558 27.5799C11.6227 28.0856 12.0615 28.4997 12.5309 28.4997C12.9997 28.4997 13.4388 28.0859 13.506 27.5799L14.6156 19.1799C14.6812 18.6733 15.1219 18.4153 15.5913 18.6047L23.1436 21.6562C23.6143 21.8469 24.3844 21.8469 24.8554 21.6562L32.4064 18.6047C32.8764 18.415 33.3159 18.6733 33.3831 19.1799L34.4926 27.5799C34.5588 28.0856 34.998 28.4997 35.4661 28.4997C35.9356 28.4997 36.3747 28.0859 36.4413 27.5799L37.5508 19.1799C37.6183 18.6733 38.0571 18.4153 38.5272 18.6047L46.2063 21.7091C46.6751 21.8991 47.2221 21.7484 47.4177 21.3746C47.6137 21.0014 47.4471 20.4369 47.0474 20.1216L47.0471 20.1207ZM30.4699 15.0308L24.7316 19.4785C24.33 19.79 23.6711 19.79 23.2708 19.4785L17.5306 15.0308C17.1293 14.7193 17.1262 14.2064 17.5244 13.8902L23.2752 9.32988C23.6733 9.01365 24.3262 9.01365 24.7247 9.32988L30.4755 13.8902C30.8746 14.2061 30.8715 14.719 30.4692 15.0311L30.4699 15.0308Z"
            ></path>
          </g>
          <defs>
            <clipPath id="clip0_1_45">
              <rect
                width="47"
                height="28"
                fill="white"
                transform="translate(0.5 0.5)"></rect>
            </clipPath>
          </defs>
        </svg>
      </a>
      <a href="https://github.com/baptistejouin">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="37"
          height="37"
          viewBox="0 0 37 37"
          fill="none"
        >
          <path
            d="M9.326 28.4795C8.876 28.1795 8.48901 27.7955 8.03601 27.2555C7.80088 26.9677 7.56788 26.6782 7.33701 26.387C6.64251 25.5245 6.20451 25.1255 5.75301 24.962C5.56303 24.8991 5.38756 24.7989 5.23692 24.6671C5.08628 24.5354 4.96352 24.3749 4.87586 24.195C4.78821 24.0151 4.73744 23.8195 4.72653 23.6197C4.71563 23.4199 4.74481 23.2199 4.81237 23.0315C4.87993 22.8432 4.98449 22.6702 5.1199 22.5229C5.25531 22.3756 5.41884 22.2568 5.60084 22.1737C5.78284 22.0905 5.97965 22.0446 6.17967 22.0386C6.37969 22.0327 6.57888 22.0668 6.7655 22.139C7.8935 22.544 8.65701 23.2415 9.686 24.521C9.54501 24.3455 10.196 25.1615 10.3355 25.3295C10.6205 25.67 10.8305 25.877 10.9955 25.9865C11.3015 26.192 11.8775 26.2805 12.7205 26.1965C12.7565 25.6235 12.8615 25.067 13.0235 24.5525C8.57151 23.465 6.0515 20.5925 6.0515 14.9585C6.0515 13.1015 6.6065 11.426 7.6385 10.022C7.3115 8.68098 7.361 7.05948 8.0915 5.23398C8.17422 5.02721 8.30195 4.84144 8.4654 4.69018C8.62886 4.53892 8.82395 4.42595 9.0365 4.35948C9.158 4.32348 9.22701 4.30848 9.34851 4.28898C10.553 4.10448 12.254 4.54398 14.471 5.93448C15.7922 5.62561 17.1447 5.47058 18.5015 5.47248C19.8695 5.47248 21.23 5.62698 22.5275 5.93448C24.743 4.53498 26.4485 4.09398 27.6605 4.28898C27.788 4.30998 27.8975 4.33698 27.9875 4.36548C28.1957 4.43415 28.3864 4.54763 28.546 4.69795C28.7057 4.84826 28.8304 5.03174 28.9115 5.23548C29.642 7.05798 29.6915 8.67948 29.3645 10.0205C30.401 11.4245 30.9515 13.088 30.9515 14.9585C30.9515 20.5955 28.4405 23.4575 23.9885 24.548C24.176 25.1705 24.2735 25.865 24.2735 26.618C24.2735 27.614 24.2705 28.5665 24.263 29.633C24.263 29.918 24.26 30.224 24.2555 30.692C24.5916 30.766 24.892 30.9533 25.1064 31.2226C25.3208 31.4918 25.436 31.8265 25.4329 32.1707C25.4297 32.5148 25.3083 32.8474 25.089 33.1127C24.8697 33.3779 24.5659 33.5597 24.2285 33.6275C22.5185 33.9695 21.2525 32.8295 21.2525 31.3415L21.2555 30.671L21.263 29.6135C21.2705 28.553 21.275 27.6065 21.275 26.618C21.275 25.5725 20.999 24.89 20.636 24.5765C19.6445 23.7215 20.147 22.0955 21.4475 21.95C25.8965 21.449 27.9515 19.7255 27.9515 14.96C27.9515 13.5275 27.4835 12.3425 26.582 11.3525C26.3926 11.1443 26.2656 10.8871 26.2155 10.6102C26.1653 10.3333 26.1941 10.0478 26.2985 9.78648C26.5475 9.16398 26.6525 8.35098 26.441 7.36548L26.426 7.36848C25.6895 7.57848 24.761 8.02848 23.639 8.79348C23.4581 8.91626 23.2525 8.99801 23.0367 9.03299C22.8208 9.06797 22.5999 9.05534 22.3895 8.99598C21.1234 8.64491 19.8154 8.46828 18.5015 8.47098C17.1665 8.47098 15.8435 8.65098 14.6135 8.99598C14.4042 9.05485 14.1845 9.06751 13.9698 9.03306C13.7551 8.99861 13.5504 8.91789 13.37 8.79648C12.2405 8.03598 11.309 7.58598 10.565 7.37598C10.3505 8.35548 10.457 9.16698 10.7045 9.78648C10.8089 10.0478 10.8377 10.3333 10.7876 10.6102C10.7374 10.8871 10.6104 11.1443 10.421 11.3525C9.5255 12.3365 9.05151 13.541 9.05151 14.9585C9.05151 19.7165 11.108 21.4535 15.5345 21.9485C16.832 22.0955 17.3375 23.7155 16.352 24.572C16.0625 24.8225 15.707 25.67 15.707 26.618V31.3415C15.707 32.8205 14.456 33.9305 12.767 33.635C12.4238 33.5756 12.112 33.3988 11.885 33.1346C11.658 32.8705 11.53 32.5357 11.5229 32.1875C11.5158 31.8393 11.6301 31.4995 11.8461 31.2263C12.0622 30.9532 12.3665 30.7637 12.707 30.6905V29.2055C11.342 29.2985 10.2155 29.075 9.326 28.4795Z"
          ></path>
        </svg>
      </a>
    </div>
  </div>
</footer>

<style lang="scss">
  @use "../lib/scss/variables" as v;
  @use "../lib/scss/mixins" as m;

  footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5.5rem 0 2.5rem 0;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  a {
    font-size: 2.5rem;
    font-family: v.$ff-jetbrains;

    @include m.before(lg) {
      font-size: 2rem;
    }
  }

  svg {
    fill: v.$c-accent;
    aspect-ratio: 1;
  }

  .links {
    display: flex;
    gap: 2rem;
  }
</style>
