---
interface Props {
  active?: boolean;
  disabled?: boolean;
  href: string;
  download?: boolean;
}

const {
  href,
  active = false,
  disabled = false,
  download = false,
} = Astro.props;
---

{
  download ? (
    <a
      href={href}
      download
      class="link"
      class:list={[{ active: active }, { disabled: disabled }]}
    >
      <slot />
    </a>
  ) : (
    <a
      href={href}
      class="link"
      class:list={[{ active: active }, { disabled: disabled }]}
    >
      <slot />
    </a>
  )
}

<style lang="scss">
  @use "../lib/scss/variables" as v;

  .link {
    box-sizing: border-box;
    width: fit-content;
    display: inline-flex;
    padding: 0.875rem 1.75rem;
    justify-content: center;
    align-items: center;
    gap: 1.125rem;
    border-radius: 5px;
    outline: 2px solid var(--light-300);
    color: var(--dark-900);
    background: var(--light-200);

    &:hover:not(.active) {
      outline-color: var(--light-400);
    }

    &.active {
      position: relative;
      color: var(--dark-900);
      background: var(--light-50);
      outline-color: var(--accent-400);

      &:before {
        content: " ";
        border-radius: 5px;
        position: absolute;
        z-index: -1;
        inset: 0;
        outline-offset: 0.5rem;
        outline: 2px dashed var(--light-600);
      }
    }
  }
</style>
