---
import Link from "@components/Link.astro";

interface Props {
  currentPage: string;
}

const { currentPage } = Astro.props;
---

<header class="row">
  <nav>
    <div class="links">
      <Link href="/works" active={currentPage === "works"}>Works</Link>
      <Link href="/about" active={currentPage === "about"}>About</Link>
      <Link href="/labs" active={currentPage === "labs"} disabled>Labs</Link>
    </div>
    <div class="links">
      <a href="/linkedin">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="36"
          height="36"
          viewBox="0 0 36 36"
          fill="none"
        >
          <path
            d="M10.41 7.5C10.4096 8.29565 10.0931 9.05855 9.53023 9.62088C8.96734 10.1832 8.20412 10.4989 7.40847 10.4985C6.61282 10.4981 5.84992 10.1816 5.28759 9.61876C4.72526 9.05587 4.40958 8.29265 4.40997 7.497C4.41037 6.70135 4.72682 5.93845 5.28971 5.37612C5.8526 4.81379 6.61582 4.4981 7.41147 4.4985C8.20712 4.4989 8.97003 4.81535 9.53235 5.37824C10.0947 5.94113 10.4104 6.70435 10.41 7.5ZM10.5 12.72H4.49997V31.5H10.5V12.72ZM19.98 12.72H14.01V31.5H19.92V21.645C19.92 16.155 27.075 15.645 27.075 21.645V31.5H33V19.605C33 10.35 22.41 10.695 19.92 15.24L19.98 12.72Z"
          ></path>
        </svg></a
      >
      <button>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 32 32"
          fill="none"
        >
          <g clip-path="url(#clip0_1_23)">
            <path
              d="M13.3334 8C13.3329 9.86676 13.8223 11.7009 14.7528 13.3193C15.6832 14.9376 17.0221 16.2835 18.6356 17.2223C20.2491 18.1611 22.0808 18.66 23.9475 18.6692C25.8142 18.6784 27.6507 18.1975 29.2734 17.2747C28.632 24.04 22.9334 29.3333 16 29.3333C8.63602 29.3333 2.66669 23.364 2.66669 16C2.66669 9.06667 7.96002 3.368 14.7254 2.72667C13.8101 4.33325 13.3303 6.151 13.3334 8ZM5.33335 16C5.33335 18.829 6.45716 21.5421 8.45755 23.5425C10.4579 25.5429 13.171 26.6667 16 26.6667C17.8847 26.6666 19.7357 26.1675 21.3649 25.2202C22.9942 24.2729 24.3436 22.9111 25.276 21.2733C24.8547 21.3133 24.428 21.3333 24 21.3333C16.636 21.3333 10.6667 15.364 10.6667 8C10.6667 7.572 10.6867 7.14667 10.7267 6.724C9.08888 7.65643 7.72712 9.00585 6.77983 10.6351C5.83253 12.2644 5.33347 14.1154 5.33335 16ZM24.2187 3.05467L25.3334 3.33333V4.66667L24.2187 4.94533C23.7499 5.06258 23.3218 5.305 22.9801 5.64671C22.6384 5.98841 22.3959 6.41653 22.2787 6.88533L22 8H20.6667L20.388 6.88533C20.2708 6.41653 20.0284 5.98841 19.6866 5.64671C19.3449 5.305 18.9168 5.06258 18.448 4.94533L17.3334 4.66667V3.33333L18.448 3.05467C18.9166 2.93721 19.3444 2.69469 19.6859 2.353C20.0273 2.01132 20.2696 1.5833 20.3867 1.11467L20.6667 0H22L22.2787 1.11467C22.3959 1.58347 22.6384 2.01159 22.9801 2.3533C23.3218 2.695 23.7499 2.93742 24.2187 3.05467ZM30.8854 9.72133L32 10V11.3333L30.8854 11.612C30.4166 11.7292 29.9884 11.9717 29.6467 12.3134C29.305 12.6551 29.0626 13.0832 28.9454 13.552L28.6667 14.6667H27.3334L27.0547 13.552C26.9374 13.0832 26.695 12.6551 26.3533 12.3134C26.0116 11.9717 25.5835 11.7292 25.1147 11.612L24 11.3333V10L25.1147 9.72133C25.5835 9.60409 26.0116 9.36166 26.3533 9.01996C26.695 8.67826 26.9374 8.25013 27.0547 7.78133L27.3334 6.66667H28.6667L28.9454 7.78133C29.0626 8.25013 29.305 8.67826 29.6467 9.01996C29.9884 9.36166 30.4166 9.60409 30.8854 9.72133Z"
            ></path>
          </g>
          <defs>
            <clipPath id="clip0_1_23">
              <rect width="32" height="32" fill="white"></rect>
            </clipPath>
          </defs>
        </svg>
      </button>
    </div>
  </nav>
</header>

<style lang="scss">
  @use "../lib/scss/variables" as v;

  header {
    padding-top: 3.5rem;
  }
  nav {
    font-family: v.$ff-jetbrains;
    grid-column: 2 / span v.$num-grid-columns - 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .links {
    display: inline-flex;
    align-items: center;
    gap: 1.5rem;
  }
  svg {
    aspect-ratio: 1;
    height: 2rem;
    fill: v.$c-accent;
  }
</style>
