---
interface Props {
  side: "left" | "right";
  offsetX?: number;
  offsetY?: number;
  scale?: number;
}

const { offsetX = 0, offsetY = 0, scale = 1, side } = Astro.props;
---

<div>
  <svg
    style={{
      transform: `translate(${offsetX}px, ${offsetY}px) scale(${scale})`,
    }}
    class:list={side === "left" ? "left" : "right"}
    width="547"
    height="550"
    viewBox="0 0 547 550"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M74.6232 125.57C55.5668 97.9212 87.9359 63.9386 116.479 81.6285L169.766 114.654C189.226 126.715 214.597 114.244 216.934 91.469L223.405 28.4196C226.848 -5.13513 273.829 -9.83017 283.845 22.3795L301.366 78.7274C308.285 100.977 336.355 107.927 352.856 91.4758L395.266 49.1918C419.291 25.2387 458.811 51.7372 445.773 83.0577L423.34 136.951C414.333 158.589 431.672 182.011 454.998 179.714L512.754 174.027C546.441 170.71 560.304 216.078 530.517 232.157L476.073 261.548C455.758 272.514 454.128 301.042 473.061 314.251L522.959 349.063C550.535 368.301 532.047 411.526 499.088 404.874L436.647 392.271C414.279 387.756 394.865 408.139 400.461 430.261L416.084 492.016C424.33 524.612 382.055 545.179 361.499 518.571L324.303 470.424C310.189 452.155 281.774 455.17 271.808 475.994L245.099 531.803C230.486 562.336 184.499 550.694 186.174 516.886L189.048 458.922C190.208 435.512 165.971 419.332 144.796 429.38L92.0567 454.407C61.4069 468.951 33.0188 430.766 55.7758 405.605L95.9484 361.189C111.578 343.909 103.271 316.209 80.7123 310.38L23.5794 295.619C-9.07906 287.18 -6.67323 240.027 26.6744 234.957L89.3349 225.429C111.97 221.988 123.192 196.04 110.2 177.189L74.6232 125.57Z"
    ></path>
  </svg>
</div>

<style lang="scss">
  @use "../lib/scss/variables" as v;

  svg {
    fill: v.$c-accent;
    width: 40vw;
    position: absolute;
    z-index: -1;
    top: 40ch;

    &.left {
      left: -20vw;
      right: auto;
    }

    &.right {
      right: -20vw;
    }
  }
</style>
