---
import { ViewTransitions } from "astro:transitions";

import "@lib/scss/utils/minireset.min.css";
import "@lib/scss/utils/base.scss";
import "@lib/scss/utils/fonts.scss";

import Nav from "@components/Nav.astro";
import Footer from "@components/Footer.astro";

interface Props {
  title: string;
  page: string;
}

const { title, page } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Baptiste Jouin | Ingénieur créatif" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <Nav currentPage={page} />
    <slot />
    <Footer />
    <script lang="ts">
      import { setup } from "@service/prefersColorScheme.ts";

      setup();
      document.addEventListener("astro:after-swap", () => {
        setup();
      });
    </script>
  </body>
</html>
